// FontAwesome 5
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';

@import "@unocss/reset/tailwind.css";

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #020816;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
}

.font-secondary {
  font-family: "Montserrat", sans-serif;
}

.swiper-button-prev,
.swiper-button-next{
  &.swiper-button-disabled{
    display: none;
  }
}

$wow-colors: (
        'death-knight': #c41f3b,
        'druid': #ff7d0a,
        'hunter': #abd473,
        'mage': #69ccf0,
        'monk': #00ff96,
        'paladin': #f58cba,
        'priest': #ffffff,
        'rogue': #fff569,
        'shaman': #0070de,
        'warlock': #9482c9,
        'warrior': #c79c6e,
        'evoker': #33937F,
        'demon-hunter': #a330c9
);

@each $name, $pair in $wow-colors {
  $color: nth($pair, 1);

  .has-wow-text-#{$name} {
    color: $color !important;
  }

  .has-wow-background-#{$name} {
    background-color: $color !important;
  }
}
