.is-fullheight {
  height: 100% !important;
  max-height: none !important;
}

$wow-colors: (
  'death-knight': #c41f3b,
  'druid': #ff7d0a,
  'hunter': #abd473,
  'mage': #69ccf0,
  'monk': #00ff96,
  'paladin': #f58cba,
  'priest': #ffffff,
  'rogue': #fff569,
  'shaman': #0070de,
  'warlock': #9482c9,
  'warrior': #c79c6e,
  'demon-hunter': #a330c9
);

@each $name, $pair in $wow-colors {
  $color: nth($pair, 1);

  .has-wow-text-#{$name} {
    color: $color !important;
  }

  a.has-wow-text-#{$name} {
    &:hover,
    &:focus {
      color: bulmaDarken($color, 10%) !important;
    }
  }

  .has-wow-background-#{$name} {
    background-color: $color !important;
  }
}
